html,body{
    margin:0;
}

nav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100vw;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    
    #nav-logo img{
        height: 100%;
        margin-left: 2vw;
    }
    #nav-link{
        margin-right: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        ul{
            list-style: none;
            font-size: 20px;
        }
        li{
            display: inline;
            padding-right: 2vw;
        }
        a{
            text-decoration: none;
            color: black;
            text-transform: uppercase;
        }
        div{
            font-size: 30px;
        }
    }
}
main{
    margin-top: 100px;
    margin-bottom: 100px;
}
#home-banner{
    max-height: 566px;
    max-width: 1198px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    place-items: center;
    img{
        height: 100%;
        width: 100%;
        margin: 0 auto;
        transition: all .3s ease-in-out;
    }
}
.contain-two{
    display: flex;
    flex-direction: row;
    .img-container{
        height: 367px;
        width: 279px;
        display: flex;
        flex-direction: row;
        place-items: center;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
        padding-right: 44px;
    }
    .img-container-last{
        padding-right:0;
    }
}
.contain-four{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    text-align: center;
    font-size: 14px;
    img{
        height: 200px;
        display: block;
        margin: 0 auto;
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    div{
        margin-top: 14px;
        img{
            width: 24px;
            height: auto;
            display: inline;
            padding-right: 16px;
        }
    }
}